-- Migration: Remove assigned_employee_id from orders table
-- This column is no longer needed as we use order_items.assigned_employee_id instead

-- Drop foreign key constraint first (if exists)
SET @foreign_key_name = (
    SELECT CONSTRAINT_NAME
    FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE
    WHERE TABLE_SCHEMA = DATABASE()
    AND TABLE_NAME = 'orders'
    AND COLUMN_NAME = 'assigned_employee_id'
    AND REFERENCED_TABLE_NAME IS NOT NULL
    LIMIT 1
);

SET @drop_fk = IF(@foreign_key_name IS NOT NULL,
    CONCAT('ALTER TABLE orders DROP FOREIGN KEY ', @foreign_key_name),
    'SELECT "No foreign key to drop"');

PREPARE stmt FROM @drop_fk;
EXECUTE stmt;
DEALLOCATE PREPARE stmt;

-- Drop the index (if exists)
DROP INDEX IF EXISTS idx_employee_id ON orders;

-- Drop the column (if exists)
ALTER TABLE orders DROP COLUMN IF EXISTS assigned_employee_id;

-- Note: This migration removes the assigned_employee_id column from orders table.
-- The application now uses order_items.assigned_employee_id to track which employee
-- is assigned to each service/product in the order.

